.full-width-table {
  width: 100%;
}

.mat-column-actions{
  text-align: right;
}

.mat-column-actions .mat-sort-header-container{
  display: flex;
  justify-content: end;
}

tr:hover{
  background: rgb(248, 248, 248);
}

img{
  max-width: 50px;
}
@media only screen and (max-width: 768px) { 
  mat-grid-tile, .mat-grid-tile{
    height: 100vh !important;
  }
}


