.grid-container {
  margin: 20px;
  @media only screen and (max-width: 768px) {
    margin: 0px;
  }
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  //bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  @media only screen and (max-width: 768px) {
    padding: 0 0;
  }
}

section {
  display: flex;
  justify-content: space-between;
  padding: 20px;



  button{
    margin-left: 20px;
  }

  @media only screen and (max-width: 768px) { 
    justify-content: normal;
  }
  

}


.mat-grid-tile{
  @media only screen and (max-width: 768px) { 
    width: 100% !important;
  }
}

@media only screen and (max-width: 768px) { 

  .mdc-data-table__cell, .mdc-data-table__header-cell{
    padding: 0 0 0 0 !important;
  }

  .mdc-button__label{
    font-size: 10px !important;
  }

}


